.cargarTareas{ 
    width: 100%;  
}
.cargarTareas .form{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.cargarTareas .form .input{ 
    width: 50%;
    background-color: #6868688f;
    border: 1px hidden #999;
    border-radius: 10px;
}
.cargarTareas .form .btnCreartarea{ 
    background-color: #b4231e9c;
    color: black;
    width: 14%;
    border-radius: 10px;
}
.cargarTareas .form .fecha{ 
    background-color: dimgrey; 
    border: 1px hidden #999;
    border-radius: 5px;
}

@media screen and (max-width: 800px){
   
    .cargarTareas .form{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .cargarTareas .form .input, .fecha{ 
        width: 93%;
        height: 2em;
        margin: 0 0 1em 1em;
    }
    .cargarTareas .form .btnCreartarea{ 
        width: 93%;
        height: 2em;
        margin: 0 0 1em 1em;
    }   
}