.encabezado{ 
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.encabezado .imagenEncabezado{ 
    width: 40%;
}

@media screen and (max-width: 800px){

    .encabezado .imagenEncabezado{ 
        width: 50%;
    }
}